header {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: darkgray;
}
body {
   height: 1500px;
}
li {
    display: inline-block;
    margin-right: 10px;
    color: black;
}
.list3 {
    margin-left: 900px;
    color: black;
}
.image {
    width: 100%;
}
.image-box {
    position: relative;
    margin-top: 50px;
}
.image-text1 {
    position: absolute;
    left: 50px;
    top: 135px;
    font-size: 15px;
}
.image-text2 {
    position: absolute;
    left: 50px;
    top: 150px;
    font-size: 32px;
    color: #fff;
}
.image-text3 {
    position: absolute;
    left: 50px;
    top: 190px;
    font-size: 15px;
    color: #fff;
}
.p {
    position: absolute;
    right: 300px;
    top: 135px;
    font-size: 12px; 
    color: #fff;
}
.p-radius1 {
    position: absolute;
    right: 100px;
    width: 120px;
    height: 20px;
    top: 135px;
    font-size: 12px; 
    background-color: #fff;
    color:  #5E8A93;
    border: 2px solid;
    border-radius: 12px;
}
.p-radius2 {
    position: absolute;
    left: 50px;
    width: 130px;
    height: 30px;
    top: 250px;
    font-size: 17px; 
    background-color: #6294A2;
    border: 2px; solid;
    border-radius: 12px;
}
box1-title {
    font-size: 25px;
    color: #404040;
}
.article1 {
    display: inline-block;
    width: 550px;
    height: 107px;
}
.article2 {
    display: inline-block;
    width: 743px;
    
}
.article3 {
    display: inline-block;
}
.parent {
    width: 862px;
    height: 585px;
}